<footer class="footer">
  <small>
    The <a href="https://github.com/lexxeice/test_project">Test Project</a>
    by <a href="https://www.linkedin.com/in/lexxeice/">Alex Makar</a>
  </small>
</footer>
